<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.edu.test.FoodCompany.mapper.DrinkMapper">
    <!-- 음료 등록 [POST] /api/drinks  -->
    <insert id="insertDrink">
        INSERT INTO drinks (drink_name, drink_brand, drink_volume_ml, drink_price, drink_stock,
                            drink_category, drink_sugar_free, drink_caffeine, drink_expiration_date)
        VALUES (#{drinkName}, #{drinkBrand}, #{drinkVolumeMl}, #{drinkPrice}, #{drinkStock},
                #{drinkCategory}, #{drinkSugarFree}, #{drinkCaffeine}, #{drinkExpirationDate})
    </insert>

    <!-- 음료 전체 조회 [GET] /api/drinks -->
    <select id="getAllDrinks">
        SELECT *
        FROM drinks
        ORDER BY drink_id DESC
    </select>

    <!-- 음료 상세 조회 [GET] /api/drinks/{drinkId} -->
    <select id="getDrinkById">
        SELECT *
        FROM drinks
        WHERE drink_id = #{drinkId}
    </select>

    <!-- 음료 수정 [PUT] /api/drinks/{drinkId} -->
    <update id="updateDrink">
        UPDATE drinks
        SET drink_name            = #{drinkName},
            drink_brand           = #{drinkBrand},
            drink_volume_ml       = #{drinkVolumeMl},
            drink_price           = #{drinkPrice},
            drink_stock           = #{drinkStock},
            drink_category        = #{drinkCategory},
            drink_sugar_free      = #{drinkSugarFree},
            drink_caffeine        = #{drinkCaffeine},
            drink_expiration_date = #{drinkExpirationDate}
        WHERE drink_id = #{drinkId}
    </update>

    <!-- 음료 삭제 [DELETE] /api/drinks/{drinkId} -->
    <delete id="deleteDrink">
        DELETE
        FROM drinks
        WHERE drink_id = #{drinkId}
    </delete>
</mapper>